/* 削除/報告メニュー */
.article-menu-button + menu {
    z-index: 101;
    position: absolute;
    right: 2rem;
    display: none;
}
.article-menu-button:hover {
    color: has-text-black;
}

/* いいねボタン */
.like-button {
    color: lightcoral;
}
.like-button:hover {
    color: red;
}